html, body {
    height: 100%;
}

#calculator {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #333333;
    border-radius: 10px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    touch-action: manipulation;
}

#display {
    width: 100%;
    height: 10%;
    background-color: #111111;
    color: #dddddd;
    font-size: 40px;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #444444;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.keypad {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 80px); /* subtract the height of the display element */
}

.keypad button {
    width: 25%;
    height: calc(90% / 4); /* divide the remaining height by 4 for 4 rows of buttons */
    background-color: #222222;
    border: none;
    color: #dddddd;
    font-size: 20px;
    cursor: pointer;
}

.keypad button.operator {
    background-color: #555555;
}

.keypad button.zero {
    width: 50%;
}

@media screen and (max-width: 500px) {
    .keypad button {
        width: 20%;
        height: 60px;
        font-size: 16px;
    }
    .keypad button.zero {
        width: 40%;
    }
    #display{
        height: 60px;
        font-size: 30px;
    }
}
@media screen and (orientation: landscape) {
    .keypad button {
        width: 25%;
        height: 60px;
    }
    .keypad button.zero {
        width: 50%;
    }
   
