#output {
  background-color: #6441A4;
  color: white;
  font-size: 2em;
  text-align: right;
  padding: 20px;
  width: 100%;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: #9061CC;
  border: none;
  color: white;
  font-size: 1.5em;
  width: 25%;
  height: 60px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #751941;
}

button:active {
  background-color: #560f2f;
}

.operator {
  background-color: #751941;
}

@media (max-width: 600px) {
  button {
    width: 50%;
  }
}

