body {
  background-color: lightgray;
  font-family: sans-serif;
}

#output {
  background-color: white;
  height: 50px;
  width: 225px;
  margin: 10px auto;
  text-align: right;
  font-size: 2em;
  padding: 10px;
  border: 1px solid gray;
  box-sizing: border-box;
}

#buttons {
  width: 225px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  background-color: white;
  border: 1px solid gray;
  font-size: 2em;
  padding: 20px;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}

button#clear {
  background-color: orange;
  color: white;
}

button#clear:hover {
  background-color: darkorange;
}

button#equals {
  background-color: blue;
  color: white;
}

button#equals:hover {
  background-color: darkblue;
}
